#boolHouse{
    height: 25px;
    width: 100px;
    border-radius: 8px;
    padding: 5px;
    font-size: 10px;
    cursor: pointer;
    background-color: aquamarine;
    margin-bottom: 10px;
}
#save{
    height: 25px;
    width: 100px;
    padding: 5px;
    border-radius: 8px;
    font-size: 10px;
    cursor: pointer;
    background-color: aquamarine;
    position: relative;
    font-family: 'Open Sans', sans-serif;    
}

#addbutton {
    position: relative;
    bottom: 0px;
    right: 0px; 
    border: none;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
#removebutton {
    position: relative;
    bottom: 0px;
    left: 0px; 
    border: none;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

ul{
    margin: 0;
    padding: 0;
    padding-top: 3px;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 13px;
    transition: 0.2s;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
}
button{
    cursor: pointer;
    width: 15vw;
    height: 15vw;
    font-family: 'Open Sans', sans-serif;
    color: red;
    border: none;
}
#saveLine{
    font-family: 'Open Sans', sans-serif;
    color: black;
}

#CopyAlert{
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: medium;
    text-align: center;
    border: none;
    padding-top: 10px;
}
